<h2>Rename or remove Brands and pricing</h2>
<p> </p>
<h3>Remove Brand</h3>
<p> </p>
<form action="/brands/delete" method="post">
  <select id="brands_drop" name="brands_drop">
    <%if @all_brands == nil%>
      <option value="" disabled selected>no brands yet</option>
    <% else %>
      <% @all_brands.each do |brand| %>
        <option value = "<%= brand.id %>" > <%= brand.name %> </option>
      <% end %>
    <% end %>
  </select>
  <button type="submit" id="update" class="btn btn-danger">delete</button>
</form>

<p> </p>
<h3>Update name or price</h3>
<p> </p>
<% if @all_brands == nil %>
  <h3>There are no brands in the system yet</h3>
<% else %>
  <% @all_brands.each do |included|%>
  <div class="continer">
    <div class="row">
      <div class="col-md-2">
        <h3> <%= included.name %> &nbsp; $<%= included.price %></h3>
      </div>
      <div class="col-md-4">
        <form action="/brands/rename" method="post">
            <input name="updated_name" class="form-inline" type="text" placeholder="update name">
            <input type="hidden" name="to_update_id" value="<%=included.id %>">
            <button type="submit" class="btn btn-warning">Rename</button>
        </form>
      </div>
      <div class="col-md-4">
        <form action="/brands/reprice" method="post">
            <input name="updated_price" class="form-inline" type="text" placeholder="update price">
            <input type="hidden" name="to_update_id" value="<%=included.id %>">
            <button type="submit" class="btn btn-warning">Rename</button>
          </form>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<p>&nbsp;</p>
<form class="form-inline" action="/" method="get">
  <button type="submit" class="btn btn-primary">Back</button>
</form>
