<h1><%= @current_room.title %></h1>
<img src="/img/<%= @current_room.image %>" height="450px">
<audio src="/music/door-open.mp3" controls autoplay hidden>
</audio>
<div class="monster">
  <% if @creatures == [] %>
  <% else %>
    <img id="monster" src="/img/<%= @creatures.first.image %>" height="175px">
  <% end %>
</div>
<p></p>
<h4>Maze History</h4>
<div class="scroll">
  <% if @events == nil %>
  <% else %>
    <% @events.last(6).each do |list| %>
      <%= list.entry %><br>
    <% end %>
  <% end %>
</div>
<div class="input_direction">
  <div class="input">
    <form action="/room/<%= @current_room.id %>" method="post">
      <input type="text" autofocus="autofocus" name="player_move" value="">
    <button type="submit"  name="button"><h6>Enter</h6></button>
    </form>
  </div>
  <div class="direction">
    <form action="/room/<%= (@current_room.id + 5) %>" method="post">
      <% if @exits.include?('north') %>
      <button type="submit" name="button"><h6>North</h6></button>
      <% else %>
      <button type="submit" name="button" disabled><h6>North</h6></button>
      <% end %>
    </form>
    <div class="middle">
      <form action="/room/<%= (@current_room.id - 1) %>" method="post">
        <% if @exits.include?('west') %>
        <button type="submit" name="button"><h6>West</h6></button>
        <% else %>
        <button type="submit" name="button" disabled><h6>West</h6></button>
        <% end %>
      </form>
      <form action="/room/<%= (@current_room.id + 1) %>" method="post">
        <% if @exits.include?('east') %>
        <button type="submit" name="button"><h6>East</h6></button>
        <% else %>
        <button type="submit" name="button" disabled><h6>East</h6></button>
        <% end %>
      </form>
    </div>
    <form action="/room/<%= (@current_room.id - 5) %>" method="post">
      <% if @exits.include?('south') %>
      <button type="submit" name="button"><h6>South</h6></button>
      <% else %>
      <button type="submit" name="button" disabled><h6>South</h6></button>
      <% end %>
    </form>
  </div>
</div>
